#####
# clock and reset constraints

Net CLK TNM_NET = SCLK | LOC = AH15 | IOSTANDARD=LVCMOS33;
Net N_RES LOC = E9 | IOSTANDARD=LVCMOS33 | PULLUP;

Net CLK TNM_NET = CLK;
TIMESPEC TS_SCLK = PERIOD SCLK 10000 ps;
Net N_RES TIG;

#####
# ADCDAC board (LOWER CONNECTOR)
#

NET AD_SD	LOC = AC32 | IOSTANDARD=LVCMOS33;
NET AD_CLK	LOC = AK33 | IOSTANDARD=LVCMOS33;
NET AD_CS	LOC = AE33 | IOSTANDARD=LVCMOS33;
#
NET DA_SD0	LOC = AA33 | IOSTANDARD=LVCMOS33;
NET DA_CLK0	LOC = W34 | IOSTANDARD=LVCMOS33;
NET DA_CS0	LOC = V34 | IOSTANDARD=LVCMOS33;

#####
# IOM board (UPPER CONNECTOR)
#




#
NET LED_STATUS<9>  LOC  =  "K33"  | IOSTANDARD=LVCMOS33 ; ### IOM_OUT9
NET LED_STATUS<8>  LOC  =  "G33"  | IOSTANDARD=LVCMOS33; ### IOM_OUT8
NET LED_STATUS<7>  LOC  =  "N32"  | IOSTANDARD=LVCMOS33; ### IOM_OUT7
NET LED_STATUS<6>  LOC  =  "G32"  | IOSTANDARD=LVCMOS33; ### IOM_OUT6
NET LED_STATUS<5>  LOC  =  "P32"  | IOSTANDARD=LVCMOS33; ### IOM_OUT5
NET LED_STATUS<4>  LOC  =  "H32"  | IOSTANDARD=LVCMOS33; ### IOM_OUT4
NET LED_STATUS<3>  LOC  =  "R34"  | IOSTANDARD=LVCMOS33; ### IOM_OUT3
NET LED_STATUS<2>  LOC  =  "J32"  | IOSTANDARD=LVCMOS33; ### IOM_OUT2
NET LED_STATUS<1>  LOC  =  "T33"  | IOSTANDARD=LVCMOS33; ### IOM_OUT1
NET LED_STATUS<0>  LOC  =  "J34"  | IOSTANDARD=LVCMOS33; ### IOM_OUT0
#
#
NET SW_MINUS  LOC  =  "U31"   | IOSTANDARD=LVCMOS33 ; ### IOM_IN9
NET SW_PLUS  LOC  =  "AA34"  | IOSTANDARD=LVCMOS33; ### IOM_IN8
NET SW_AUDIO_ON  LOC  =  "N34"   | IOSTANDARD=LVCMOS33; ### IOM_IN7
NET SW_MODE_VOL_nQNT  LOC  =  "U33"   | IOSTANDARD=LVCMOS33; ### IOM_IN6
#NET D_IN_TOP<5>  LOC  =  "P34"   | IOSTANDARD=LVCMOS33; ### IOM_IN5
#NET D_IN_TOP<4>  LOC  =  "T34"   | IOSTANDARD=LVCMOS33; ### IOM_IN4
#NET D_IN_TOP<3>  LOC  =  "M32"   | IOSTANDARD=LVCMOS33 ; ### IOM_IN3
#NET D_IN_TOP<2>  LOC  =  "R33"   | IOSTANDARD=LVCMOS33; ### IOM_IN2
#NET D_IN_TOP<1>  LOC  =  "L33"   | IOSTANDARD=LVCMOS33 ; ### IOM_IN1
#NET D_IN_TOP<0>  LOC  =  "R32"   | IOSTANDARD=LVCMOS33 ; ### IOM_IN0
##
#

