#####
# clock and reset constraints

Net CLK TNM_NET = SCLK | LOC = AH15 | IOSTANDARD=LVCMOS33;
Net N_RES LOC = E9 | IOSTANDARD=LVCMOS33 | PULLUP;

Net CLK TNM_NET = CLK;
TIMESPEC TS_SCLK = PERIOD SCLK 10000 ps;
Net N_RES TIG;

#####
# ADCDAC board (LOWER CONNECTOR)
#

NET AD_SD0    LOC = AC32 | IOSTANDARD=LVCMOS33;
NET AD_CLK0    LOC = AK33 | IOSTANDARD=LVCMOS33;
NET AD_CS0    LOC = AE33 | IOSTANDARD=LVCMOS33;
#
NET DA_SD0    LOC = AA33 | IOSTANDARD=LVCMOS33;
NET DA_CLK0    LOC = W34 | IOSTANDARD=LVCMOS33;
NET DA_CS0    LOC = V34 | IOSTANDARD=LVCMOS33;

#####
# SLB board (UPPER CONNECTOR)
#

# FPGA outputs
NET AD_OUT<11> LOC  =  "K32" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_LD3
NET AD_OUT<10> LOC  =  "H34" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_LD2
NET AD_OUT<9>  LOC  =  "K33" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_LD1
NET AD_OUT<8>  LOC  =  "G33" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_LD0
NET AD_OUT<7>  LOC  =  "N32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD7
NET AD_OUT<6>  LOC  =  "G32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD6
NET AD_OUT<5>  LOC  =  "P32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD5
NET AD_OUT<4>  LOC  =  "H32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD4
NET AD_OUT<3>  LOC  =  "R34" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD3
NET AD_OUT<2>  LOC  =  "J32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD2
NET AD_OUT<1>  LOC  =  "T33" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD1
NET AD_OUT<0>  LOC  =  "J34" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_LD0

# FPGA inputs
NET M_ODE     LOC  =  "AA34" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_SW7

NET DA_IN<11> LOC  =  "Y34" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_SW3
NET DA_IN<10> LOC  =  "V33" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_SW2
NET DA_IN<9>  LOC  =  "Y32" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_SW1
NET DA_IN<8>  LOC  =  "V32" | IOSTANDARD=LVCMOS33; ### SW_LED_B1_SW0
NET DA_IN<7>  LOC  =  "R32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW7
NET DA_IN<6>  LOC  =  "L33" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW6
NET DA_IN<5>  LOC  =  "R33" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW5
NET DA_IN<4>  LOC  =  "M32" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW4
NET DA_IN<3>  LOC  =  "T34" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW3
NET DA_IN<2>  LOC  =  "P34" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW2
NET DA_IN<1>  LOC  =  "U33" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW1
NET DA_IN<0>  LOC  =  "N34" | IOSTANDARD=LVCMOS33; ### SW_LED_B0_SW0
#####
